#title{
    display: flex;
    justify-content: center;
    background-color: bisque;
    
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
}
#tribute-link{
    display: flex;
    background-color: bisque;
    text-align: center;
    position: relative;
    height: 5%;
    justify-content: center;
    align-items: center;
}
#image{
    
    background-color: rgb(246, 5, 5);
    margin: 0 auto;
    
}
#background-grids{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: 
        "leftbackground centerbackground rightbackground";
        height: 100vh;

}
#left-background{
    background: linear-gradient(45deg, black, black, grey, grey);
    grid-area: leftbackground;
    position: fixed;
    left: 0;
    width: 15vw;
    height: 100vh;
    top: 0;
    z-index: -1;
    
    
}
#right-background{
    background: linear-gradient(45deg, black, black, grey, grey);
    grid-area: rightbackground;
    position: fixed;
    right: 0;
    width: 15vw;
    height: 100vh;
    top: 0;
    z-index: -1;
    
}
#center-grid{
    background-color: gray;
    grid-area: centerbackground;
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#img-title{
    padding: 30px 30px;
    margin: 0 auto;
    text-align: center;
    flex-grow: 0;
}
#tribute-info{
    margin: 4%;
    text-align: center;
}
#list{
    margin: 5% 10% 0 10%;
    text-align: left;
}
#img-caption{
    display: table-caption;
    caption-side: bottom;
}
#figure{
    display: table;
    margin: 0 auto;
}
